<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.travelersblog">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelersBlog"
        tools:targetApi="31">
        <activity
            android:name=".TestingAccessScreens"
            android:exported="false" />
        <activity
            android:name=".S6BlogPage"
            android:exported="false" />
        <activity
            android:name=".S5ImageList"
            android:exported="false" />
        <activity
            android:name=".S4NewEntry"
            android:exported="false" />
        <activity
            android:name=".S3BlogEntries"
            android:exported="false" />
        <activity
            android:name=".S2RegisterScreen"
            android:exported="false" />
        <activity
            android:name=".S2_register_screen"
            android:exported="false" />
        <activity
            android:name=".S1LoginScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>